<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title><%= t("Honcheonui") %></title>
		<%= stylesheetTag("application.css") %>
		<%= stylesheetTag("epoxy.css") %>
		<%= stylesheetTag("overrides.css") %>
		<meta name="csrf-param" content="authenticity_token" />
		<meta name="csrf-token" content="<%= authenticity_token %>" />
		<link rel="icon" href="<%= assetPath("images/favicon.ico") %>">
		<%= javascriptTag("application.js") %>
		<%= javascriptTag("epoxy.js") %>
	</head>
	<body>

	<!-- ---- layout: title-bar -->
 	<div id="navbar-wrapper">
		<header>
			<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<span class="navbar-brand push_menu fa fa-bars"></span>
						<a href="/" class="navbar-brand"><%= t("Honcheonui") %></a>
					</div><%= if (member_id) { %>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a id="user-profile" class="dropdown-toggle"
								data-toggle="dropdown"><img src="<%= member_icon %>"
								class="img-responsive img-thumbnail img-circle"></a>
							<ul class="dropdown-menu dropdown-block menu" role="menu">
								<li><span><%= member_name %></span></li>
								<li><span>ID: <%= uuidTrucate(member_id, 8) %></span></li>
								<li><a href="/profile"><%= t("Profile") %></a></li>
								<li><a href="/settings"><%= t("Settings") %></a></li>
								<li><a href="/logout"><%= t("Logout") %></a></li>
							</ul>
						</li>
					</ul><% } %>
				</div>
			</nav>
		</header>
	</div>

	<!-- ---- layout: side-bar and content -->
	<div class="container-fluid filly">
		<div class="row filly">
			<div id="body-wrapper" class="filly active">
				<div class="content filly">
					<div class="col-md-12">
<%= partial("flash.html") %>
<%= yield %>
					</div>
				</div><%= if (member_id) { %>
				<div class="side-bar filly">
				<ul>
					<!--
					<li class="menu-head">
						HONCHEONUI <a href="#" class="push_menu"><span
							class="fa fa-bars pull-right"></span></a>
					</li>
					-->
					<div class="menu">
						<li>
							<a href="/"><%= t("Dashboard") %> <span
									class="fa fa-tachometer pull-right"></span></a>
						</li>
						<li class="active">
							<a href="/services"><%= t("Services") %> <span
									class="fa fa-asterisk pull-right"></span></a>
						</li>
						<li>
							<a href="/events"><%= t("Events") %> <span
									class="fa fa-bell pull-right"></span></a>
						</li>
						<li>
							<a href="/settings"><%= t("Settings") %> <span
									class="fa fa-cog pull-right"></span></a>
						</li><%= if (has(member_roles, "admin")) { %>
						<li class="admin">
							<a href="/members"><%= t("Members") %> <span
									class="fa fa-users pull-right"></span></a>
						</li>
						<li class="admin">
							<a href="/providers"><%= t("Providers") %> <span
									class="fa fa-link pull-right"></span></a>
						</li>
						<li class="admin">
							<a href="/resources"><%= t("Resources") %> <span
									class="fa fa-server pull-right"></span></a>
						</li>
						<li class="admin">
							<a href="/tags"><%= t("Tags") %> <span
									class="fa fa-tags pull-right"></span></a>
						</li>
						<li class="admin">
							<a href="/admin"><%= t("Admin") %> <span
									class="fa fa-empire pull-right"></span></a>
						</li><% } %>
					</div>
				</ul>
				</div><% } %>
			</div>
		</div>
	</div>
	</body>
</html>
