<div class="row">
	<h1 class="col-xs-12"><%= t("Open.Events") %></h1>
	<div>
		<ul>
			<li>status alert for s:abc - 1 hour ago</li>
			<li>event notification - 3 weeks ago</li>
		</ul>
	</div>
</div>
<div class="row">
	<h1 class="col-xs-12"><%= t("Recent.Activities") %></h1>
	<div class="col-sm-6">
		<h3><%= t("Recent.Resource.Sync") %></h3>
		<div>
			<ul>
				<li>some awesome provider - 5 days ago</li>
				<li>some strange server - 2 minutes ago</li>
			</ul>
		</div>
	</div>
	<div class="col-sm-6">
		<h3><%= t("Recent.Events") %></h3>
		<div>
			<ul>
				<li>status alert for s:abc - 1 hour ago</li>
				<li>event notification - 3 weeks ago</li>
				<li>monitoring alert for r:xyz - 2 days ago</li>
				<li>status alert for s:pqr - 5 months ago</li>
				<li>status alert for s:abc - 1 year ago</li>
			</ul>
		</div>
	</div>
</div>
<div class="row">
	<h2 class="col-xs-12"><%= t("Servie.Status") %></h2>
	<div class="col-sm-4">
		<h3><%= t("Portal") %></h3>
		<div>
			<i class="fa fa-check-circle"></i>
		</div>
	</div>
	<div class="col-sm-4">
		<h3><%= t("API") %></h3>
			<i class="fa fa-question-circle"></i>
		<div>
		</div>
	</div>
	<div class="col-sm-4">
		<h3><%= t("Notifiers") %></h3>
		<div>
			<i class="fa fa-info-circle"></i>
		</div>
	</div>
</div>
