		<table class="table table-striped">
			<thead>
				<tr>
					<th>MemberID</th>
					<th>Provider</th>
					<th>User</th>
					<th>Pass</th>
					<th>GroupID</th>
					<th>UserID</th>
					<th>&nbsp;</th>
				</tr>
			</thead>
			<tbody><%= for (provider) in providers { %>
		 		<tr>
		 			<td><%= provider.MemberID %></td>
			 		<td><%= provider.Provider %></td>
			 		<td><%= provider.User %></td>
			 		<td><%= provider.Pass %></td>
			 		<td><%= provider.GroupID %></td>
			 		<td><%= provider.UserID %></td>
			 		<td>
				 		<div class="pull-right btn-group mixin-nobreak">
					 		<a href="<%= providerPath({ provider_id: provider.ID }) %>"
								data-method="DELETE" data-confirm="Are you sure?"
								class="btn btn-xs btn-danger">Destroy</a>
				 		</div>
			 		</td>
		 		</tr>
				<% } %>
			</tbody>
		</table>
